.backgroundBlue{
	background-color: blue;
}
.mapContainer{
	padding-bottom: 10px;
}
.mapImage{
	width:90%;
}

.button{
	margin: 5px;
	background-color: rgba(150,150,150,0.9);
}

.colorButton{
	color: white;
}
.redButton{
	background-color:rgba(200,0,0,0.8);


}
.blueButton{
	background-color:rgba(0,0,200,0.8);

}
.greenButton{
	background-color:rgba(0,180,0,0.8);
}
.yellowButton{
	background-color:rgba(150,150,0,0.8);
	font-size: 11;
}
.temmie{
	width:10%;
	opacity: 10%;
}
.interfaceContainer{
	background-color: rgba(0,0,0,0.15);
	box-shadow: 5px 5px 5px #888888;
	margin: 5px;
}
.timeButton{
	background-color: rgba(30,30,30,0.6);
	color: white;
}

.titleText{
	text-align: center;
}